<div class="container">
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input required name="firstName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input required name="lastName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select required name="gender">
                <option class="form-control" value="Male">Male</option>
                <option class="form-control" value="Female">Female</option>
                <option class="form-control" value="Non-Binary">Non-Binary</option>
            </select>
        </div>
        <div class="form-group">
            <label for="skill_level">Skill Level</label>
            <select required name="skill_level">
                <option class="form-control" value="Beginner">Beginner</option>
                <option class="form-control" value="Intermediate">Intermediate</option>
                <option class="form-control" value="Advanced">Advanced</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input required type="date" name="dob">
        </div>
        <div class="form-group">
            <label for="sport">Sport</label>
            <select required name="sport">
                <option class="form-control" value="Ultimate Frisbee">Ultimate Frisbee</option>
                <option class="form-control" value="Badminton">Badminton</option>
                <option class="form-control" value="Basketball">Basketball</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location">Social Link</label>
            <input required name="social_link" type="text" class="form-control">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="isManager">
                <label class="form-check-label" for="true">Manager</label>
            </div>
            <div class="form-check">
                <input checked class="form-check-input" type="radio" name="isManager">
                <label class="form-check-label" for="false">Player</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>