<nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <span>TeamPlay</span></a>
        <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navcol-1"
        >
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams/create">Create</a>
        </li>
      </ul>
      <a class="btn btn-primary shadow" role="button" href="signup.html"
        >Sign up</a
      >
    </div>
  </div>
</nav>
