<div class="container">
<h1 class="">Teams</h1>
    <% teams.forEach( item => { %>
        <button class="btn btn-primary btn-lg btn-block">
            <p><%= item.name%></p>
            <p><%= item.player_count%></p>
            <p><%= item.tier%></p>  
        </button>
       
    <%})%>
</div>
