<div class="container">
    <!-- variable = teamItem -->
    <!-- <% console.log(teamItem) %> -->
    <h1><%= teamItem.name%></h1>
    <a class="btn btn-primary" href=<%= "/teams/" +teamItem.id+"/edit" %>>Edit</a>
</div>
