<div class="container">
    <h1><%= teamItem.name%></h1>
    <form class="deleteForm" method="POST" action=<%= "/teams/delete/" +teamItem.id %>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>