.deleteForm {
  display: inline-block
}


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #fff;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h1 {
  font-size: 2rem;
}

 .homepage-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.site-block.dark {
  background-color: #f6f6f6;
}

.site-block .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.site-block .block-heading p {
  max-width: 420px;
  margin: auto;
  opacity: .7;
}

.page-footer.dark .footer-copyright p {
  color: #ccc;
  margin: 10px;
}

.page-footer.dark h5, .page-footer.dark .h5, .page-footer.dark li{
  color: #fff;
}

.page-footer h5, .page-footer .h5 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.page-footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-footer.dark {
  background-color: #2b2f31;
}

.footer-copyright {
  text-align: center;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background: url("https://img.freepik.com/free-vector/sport-equipment-cartoon-set-balls-gaming-item-hockey-rugby-baseball-tennis-racket-bowling-boxing-golf-collection_74855-20727.jpg") no-repeat right center;
  }
  header.masthead h1 {
    font-size: 3rem;
  }

  .site-block.site-info {
    padding-left: 0px;
    padding-right: 0px;
    text-align: inherit;
  }

}

/* Nav bar */

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

/* ********team-link********* */

.btn-outline-info {
  color:#2b2f31;
}


.card-name {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.card-info {
  color: whitesmoke;
  text-align: center;
}

.card-frame {
  border: solid rgb(243, 157, 126) 2px;
  background-image: url(https://wallpaperaccess.com/full/1302164.jpg);
  vertical-align: top;

  width: 265px;
}

.card-main img {
  border-radius: 37%;
  border: solid whitesmoke 3px;
  background-color: whitesmoke;
}

.login-page {
  background-image: url(https://img4.goodfon.com/wallpaper/nbig/7/aa/synthpop-synth-retrowave-darkwave-synth-pop-synthwave-sinti.jpg);
  background-size: cover;
  color: whitesmoke;
}


.team-header {
  color: whitesmoke;
}

.team-btn {
  background-color: #9BA4B5;
  color: #394867;
}

.form-check {
  color: whitesmoke;
}